<header class="todoapp__header">
  <!-- @if (hasTodos()) {
    <button
      type="button"
      class="todoapp__toggle-all"
      [class.active]="isAllCompleted()"
      data-cy="ToggleAllButton"
      aria-label="Toggle all todos"
      (click)="toggleAll.emit()"
    ></button>
  } -->

  <form (submit)="onSubmit($event)">
    <input
      data-cy="NewTodoField"
      type="text"
      class="todoapp__new-todo"
      placeholder="What needs to be done?"
      [value]="title()"
      [disabled]="isLoading()"
      (input)="onInput($event)"
    />
  </form>
</header>
